<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>orderSys</display-name>
	<servlet>
		<description>
		</description>
		<display-name>addMemberController</display-name>
		<servlet-name>addMemberController</servlet-name>
		<servlet-class>Controller.member.addMemberController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>Controller.member.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addOrderController</display-name>
		<servlet-name>addOrderController</servlet-name>
		<servlet-class>Controller.porder.addOrderController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateController</display-name>
		<servlet-name>updateController</servlet-name>
		<servlet-class>Controller.porder.updateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteController</display-name>
		<servlet-name>deleteController</servlet-name>
		<servlet-class>Controller.porder.deleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMemberController</servlet-name>
		<url-pattern>/addMemberController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addOrderController</servlet-name>
		<url-pattern>/addOrderController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateController</servlet-name>
		<url-pattern>/updateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteController</servlet-name>
		<url-pattern>/deleteController</url-pattern>
	</servlet-mapping>
</web-app>