<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>orderSys</display-name>
	<servlet>
		<servlet-name>addMemberController</servlet-name>
		<display-name>addMemberController</display-name>
		<description></description>
		<servlet-class>Controller.member.addMemberController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>Controller.member.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>Controller.member.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addOrderController</servlet-name>
		<display-name>addOrderController</display-name>
		<description></description>
		<servlet-class>Controller.porder.addOrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteController</servlet-name>
		<display-name>deleteController</display-name>
		<description></description>
		<servlet-class>Controller.porder.deleteController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateController</servlet-name>
		<display-name>updateController</display-name>
		<description></description>
		<servlet-class>Controller.porder.updateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMemberController</servlet-name>
		<url-pattern>/addMemberController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addOrderController</servlet-name>
		<url-pattern>/addOrderController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteController</servlet-name>
		<url-pattern>/deleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateController</servlet-name>
		<url-pattern>/updateController</url-pattern>
	</servlet-mapping>
	
</web-app>